* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.5;
}

header {
    background-color: powderblue;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: aquamarine;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav a:hover {
    text-decoration: none;
    color: rgb(87, 87, 228);
}